# PyRamen Script

In [1]:

""" Script will be used to calculate the revenue, cogs, and profit for each menu item sold. """

# @TODO: Import libraries
import csv
import pandas as pd
from pathlib import Path

In [2]:
# @TODO: Set file paths for menu_data.csv and sales_data.csv
menu_filepath = Path('Resources/menu_data.csv')
sales_filepath = Path('Resources/sales_data.csv')

In [3]:
# read the menu csv file as a dataframe and set menu and sales items as index
menu_df = pd.read_csv(menu_filepath, index_col = 'item')
sales_df = pd.read_csv(sales_filepath, index_col = 'Menu_Item')

In [4]:
# check columns of menu data
menu_df.head()

,category,description,price,cost
item,,,,
edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2

In [5]:
# check columns of sales data
sales_df.head()

                      Line_Item_ID        Date  Credit_Card_Number  Quantity
Menu_Item
spicy miso ramen                 1  01-01-2017    7437926611570799         1
spicy miso ramen                 2  01-01-2017    7437926611570799         1
tori paitan ramen                3  01-01-2017    8421920068932819         3
tori paitan ramen                4  01-01-2017    8421920068932819         3
truffle butter ramen             5  01-01-2017    4787310681569648         1

In [6]:
# rename "items" in menu to "Menu_Item" to match sales data
menu_edit = menu_df.rename(columns={"item" : "Menu_Item"})

In [7]:
# set a datafram to group Menu_Item in sales data by Quanity and sum for total quanity sold of each item
sales_grp = sales_df.groupby('Menu_Item')['Quantity'].sum()

In [8]:
# check dataframe output
sales_grp.head()

Menu_Item
burnt garlic tonkotsu ramen    9070
miso crab ramen                8890
nagomi shoyu                   9132
shio ramen                     9180
soft-shell miso crab ramen     9130
Name: Quantity, dtype: int64

In [9]:
# combine the sales data and menu data columns
combined_df = pd.concat([sales_grp, menu_df], axis="columns", join="inner")

In [10]:
# check output of combined dataframe
combined_df.head()

,Quantity,category,description,price,cost
burnt garlic tonkotsu ramen,9070,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6
miso crab ramen,8890,entree,house miso crab blend + vegan dashi; slow brai...,12.0,6
nagomi shoyu,9132,entree,shoyu seasoned clear double stock (organic chi...,11.0,5
shio ramen,9180,entree,sea salt seasoned clear double stock (organic ...,11.0,5
soft-shell miso crab ramen,9130,entree,house miso crab blend + vegan dashi; fried who...,14.0,7

In [11]:
# drop columns not needed "category" "description"
combined_df = combined_df.drop(columns=["category", "description"])

In [12]:
# calculate revenue, cogs, and profit by item quanity sold
combined_df['Revenue'] = combined_df['Quantity'] * combined_df['price']
combined_df['COGS'] = combined_df['Quantity'] * combined_df['cost']
combined_df['Profit'] = combined_df['Revenue'] - combined_df['COGS']

In [13]:
combined_df.head()

                             Quantity  price  cost   Revenue   COGS   Profit
burnt garlic tonkotsu ramen      9070   14.0     6  126980.0  54420  72560.0
miso crab ramen                  8890   12.0     6  106680.0  53340  53340.0
nagomi shoyu                     9132   11.0     5  100452.0  45660  54792.0
shio ramen                       9180   11.0     5  100980.0  45900  55080.0
soft-shell miso crab ramen       9130   14.0     7  127820.0  63910  63910.0

In [14]:
# drop "price" and "cost" columns for and initialize new dataframe for final report
report = combined_df.drop(columns = ['price', 'cost'])

In [15]:
# check the final report output
report.head()

                             Quantity   Revenue   COGS   Profit
burnt garlic tonkotsu ramen      9070  126980.0  54420  72560.0
miso crab ramen                  8890  106680.0  53340  53340.0
nagomi shoyu                     9132  100452.0  45660  54792.0
shio ramen                       9180  100980.0  45900  55080.0
soft-shell miso crab ramen       9130  127820.0  63910  63910.0

In [16]:
# intialize an output file to hold the financial analysis
output_file = 'Financial_Analysis.txt'

In [17]:
# write a new csv file to contain the financial analysis as output and convert to string
with open(output_file, 'w+') as file:
    file.write(report.to_string(header = True, index = True))